In [28]:
import pandas as pd
import json
import re
import numpy as np

In [4]:
df = pd.read_csv("../dataset/classify_amr_df.csv")

In [5]:
df.head()

,sentence,label,penman,branches
0,"Mr President, one of the joys of spending time...",eng,"# ::tok Mr President , one of the joys of spen...",18
1,"It is wonderful, but millions of people in Eu...",eng,"# ::tok It is wonderful , but millions of peop...",14
2,None of them come to any harm in the process.,eng,# ::tok None of them come to any harm in the p...,4
3,Whatever its content they are happy to call t...,eng,# ::tok Whatever its content they are happy to...,9
4,It is insulting for us to play semantic games ...,eng,# ::tok It is insulting for us to play semanti...,9

In [6]:
df['label'].value_counts()

label
irs    666
eng    638
nir    635
wal    603
Name: count, dtype: int64

In [18]:
df_eng = df[df['label'] == 'eng']
df_irs = df[df['label'] == 'irs']
df_nir = df[df['label'] == 'nir']
df_wal = df[df['label'] == 'wal']

In [19]:
df_eng[df_eng['branches'] <= 2]['branches'].value_counts()

branches
0    35
1    10
2     7
Name: count, dtype: int64

In [20]:
df_irs[df_irs['branches'] <= 2]['branches'].value_counts()

branches
0    37
2     9
1     1
Name: count, dtype: int64

In [22]:
df_nir[df_nir['branches'] <= 2]['branches'].value_counts()

branches
0    30
2     8
1     4
Name: count, dtype: int64

In [21]:
df_wal[df_wal['branches'] <= 2]['branches'].value_counts()

branches
0    22
2     6
1     2
Name: count, dtype: int64

In [23]:
df[df['branches']==2]['sentence']

155               That is an important objective.
203                  Relative stability is there.
288                                   rapporteur.
346                                           30?
444           The turnaround is truly remarkable.
457                   They are not contradictory.
597          There is effective legal precaution.
660      There seems to be some misunderstanding.
827                 The system should be changed.
844                    deputising for the author.
1016         This report is about the Commission.
1017            Parliament is a separate subject.
1056                   deputising for the author.
1085                   deputising for the author.
1189                    This is a serious matter.
1235                 We are dependent on exports.
1331                       That is quite obvious.
1551          That was done in a cooperative way.
1553                But what is the future to be?
1559               Thanks also to the Commission.
1695                     I will start with trade.
1741                                  rapporteur.
1791          She has made considerable progress.
1883                                 304 million.
2034                                  rapporteur.
2068                    The title is not correct.
2088       Recent research carried out by â€˜Which?
2297                                  rapporteur.
2369                   It is an excellent report.
2444                                  rapporteur.
Name: sentence, dtype: object

In [24]:
df_cleaned_up = df[df['branches']>=2]

In [25]:
df_cleaned_up.to_csv('../dataset/classify_amr_df_2.csv', index=False)

In [26]:
# Average number of branches per dialect

def get_average_of_column(dtf, col, df_name):
    avg = np.mean(dtf[col])
    print(f"The average of {col} of the dataFrame {df_name} is {avg}")

In [30]:
dtf_list = [df_eng, df_irs, df_nir, df_wal]
lang_list = ['eng', 'irs', 'nir', 'wal']
for i in range(len(dtf_list)):
    get_average_of_column(dtf_list[i], 'branches', lang_list[i])

The average of branches of the dataFrame eng is 16.851097178683386
The average of branches of the dataFrame irs is 15.954954954954955
The average of branches of the dataFrame nir is 17.026771653543307
The average of branches of the dataFrame wal is 17.4195688225539